.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: block;
    color: white;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all 1s ease;
    text-decoration: none solid rgb(255, 255, 255, 0.835);
}
.containerNav{
    position: fixed;
    display: block;
    flex-direction: row;
}

.redesNav{
    margin-left: 2rem;
}

.nav-link:hover {
    color: #2EB086;
}

.nav-contacto a {
    padding: 0.5rem;
}



@media screen and (max-width: 400px) {
    .nav-link {
        font-size: 14px;
    }
}